doctype html
html(lang='zh-TW')
    head
        meta(charset="UTF-8")
        //- 相容性模式
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        //-  相容性模式-end
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes")

        title SHOES SHOP | Parallax Web

        //- plugins
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800" rel="stylesheet")

        //- custom
        link(rel='stylesheet' href='css/style.css' type='text/css')


    body
        nav.nav-bar.atTop
            h4.logo
                a(href="#header") SNEAKERS
        .nav-toggle-btn
            .menu_icon
                span
                span
                span
        ul.nav-menu
            li
                a(href="#sectionProducts") Prouducts
            li
                a(href="#sectionAbouts") Abouts
            li
                a(href="#sectionLookbooks") Lookbooks          
        header.header#header     
            .header-bg
                .header-bg-filter
                .square.square_left
                .fore-leg
                .square.square_center
                .square.square_right
                .header_content
                    h1.logo SNEAKERS
                    h4.heading
                        span -
                        |SHOES SHOP
                        span -
        section.section_product#sectionProducts
            .container
                .title
                    h3.heading PRODUCTS
                    hr.heading_hr
                    p.long Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae reprehenderit debitis pariatur porro tenetur iure nisi itaque odit magni labore libero explicabo accusantium enim, excepturi maiores aliquid. Perferendis eius eos, adipisci impedit unde, labore, similique deserunt voluptatibus harum soluta architecto quae dolore mollitia obcaecati eaque nisi necessitatibus! Autem, quaerat.
                    p.short Lorem ipsum dolor sit amet,  Nostrum blanditiis, deserunt, fugit.quisquam,voluptate placeat.
                    hr
                .product_pic

                        .row.img-row

                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product01.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product02.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product03.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                        .row.img-row
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product02.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product03.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product01.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                        .row.img-row
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product03.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product01.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
                            a.col-md-4.col-sm-12.col-xs-12.product_box(href="#!")
                                img.product_img(src="image/product02.jpg", alt="")
                                .product_info
                                    h5 Lorem ipsum
                                    h6 NTD 3,000
        section.section_about#sectionAbouts
            .container
                .title
                    h3.heading ABOUTS
                    hr.heading_hr
                    p.long Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae reprehenderit debitis pariatur porro tenetur iure nisi itaque odit magni labore libero explicabo accusantium enim, excepturi maiores aliquid. Perferendis eius eos, adipisci impedit unde, labore, similique deserunt voluptatibus harum soluta architecto quae dolore mollitia obcaecati eaque nisi necessitatibus! Autem, quaerat.
                    p.short Lorem ipsum dolor sit amet, quisquam,voluptate placeat.
                    hr
                .about_window
                    .promot_bg
                        .promot_content
                            h4.product_name Lorem ipsum.
                            p.product_price NTD 3,590
                            a.cta-btn BUY NOW
                p.about_product_content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error perferendis sed esse aspernatur, doloremque, labore beatae placeat ipsam architecto, id illum! Dicta, dolorum, voluptatibus illum earum facilis odit. Ducimus velit laudantium similique quis quos iusto culpa, itaque dolorem quibusdam illo, eaque dolore voluptate eos aliquam consequatur est esse ea iure!

        section.section_lookbooks#sectionLookbooks
            .container
                .title
                    h3.heading LOOKBOOKS
                    hr.heading_hr
                    p.long Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae reprehenderit debitis pariatur porro tenetur iure nisi itaque odit magni labore libero explicabo accusantium enim, excepturi maiores aliquid. Perferendis eius eos, adipisci impedit unde, labore, similique deserunt voluptatibus harum soluta architecto quae dolore mollitia obcaecati eaque nisi necessitatibus! Autem, quaerat.
                    p.short Lorem ipsum dolor sit amet, quisquam,voluptate placeat.
                    hr
                .row.lookbooks_list
                    .col-md-4.lookbooks_item.lookbooks_item_01
                        h4.lookbooks_item_title Lorem ipsum
                        .lookbooks_item_imgbox
                            img(src="image/lookbooks01.jpg", alt="")
                        p.lookbooks_item_para   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, assumenda!
                        a.cta-btn Read More
                    .col-md-4.lookbooks_item.lookbooks_item_02
                        h4.lookbooks_item_title Lorem ipsum
                        .lookbooks_item_imgbox
                            img(src="image/lookbooks02.jpg", alt="")
                        p.lookbooks_item_para   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, assumenda!
                        a.cta-btn Read More
                    .col-md-4.lookbooks_item.lookbooks_item_03
                        h4.lookbooks_item_title Lorem ipsum
                        .lookbooks_item_imgbox
                            img(src="image/lookbooks03.jpg", alt="")
                        p.lookbooks_item_para   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, assumenda!
                        a.cta-btn Read More
        footer.footer#sectionContact
            .container
                .row
                    .col-sm-4.col-xs-6
                        h4 Follow Us
                        ul
                            li
                                a(href="#") Facebook
                            li
                                a(href="#") Instagram
                            li
                                a(href="#") Twitter
                            li
                                a(href="#") Youtube
                    .col-sm-4.col-xs-6
                        h4 Hot Brands
                        ul
                            li
                                a(href="#") Brand A
                            li
                                a(href="#") Brand B
                            li
                                a(href="#") Brand C
                            li
                                a(href="#") Brand D
                    .col-sm-4.col-xs-12
                        h4 Subscribe to our newsletter
                        input(type="email" placeholder="Your Email...")
                        input.cta-btn(type="submit" value="Subscribe")

        //- Script - -
        //- plugin
        //- script(type='text/javascript' src="./js/jquery-3.2.1.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
 

        //- custom
        script(type='text/javascript' src="./js/all.js")
        //- Script - End
